
html {
    scroll-behavior: smooth;
    
    background-image: url('images/imagetest.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
section {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main {
    margin-left: 50px; 
    padding-right: 20px; 
}



/* Navigation*/
.navbar {
    position: fixed;
    top: 50%; 
    left: 20px; 
    transform: translateY(-50%); 
    width: 90px; 
    height: auto; 
    background-color: #111827; 
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0; 
    z-index: 1000; 
}

.navbar a {
    text-decoration: none;
    color: #9CA3AF; 
    font-size: 12px; 
    padding: 15px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
}

.navbar a i {
    font-size: 20px; 
    margin-bottom: 5px; 
}

.navbar a:hover {
    color: #F87171;
}

.navbar a.active {
    color: #F87171; 
}


/* HOME */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding: 100px;
    
}
.home_container {
    text-align: center; 
    padding: 50px 20px; 
    flex-direction: column;

}


.home_card {
    background-color: #111827; 
    border-radius: 15px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); 
    padding: 40px;
    text-align: center;
    max-width: 800px; 
    color: white;
}
.profile-picture {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto 20px auto; 
    display: block;
}

.introduction {
    max-width: 700px; 
    margin: 0 auto; 
    color: white; 
    line-height: 1.8;
}
.resumebutton {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #334155;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px; 
}

.resumebutton:hover {
    background-color: #475569;
}


.social-icons {
    display: flex;
    gap: 20px; 
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.icon {
    background-color: #334155; 
    color: #c1c1c1; 
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    transition: transform 0.2s, background-color 0.3s;
}


.icon:hover {
    background-color: #334155; 
    color: #feffff;
    transform: scale(1.1) 
}

.github-icon i {
    font-size: 24px;
}

.linkedin-icon i {
    font-size: 24px;
}

.email-icon i {
    font-size: 24px;
}


/* Education */

.education{
    flex-direction: column;
}
.education-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px; 
    padding: 40px; 
}


.education-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #1f2937; 
    color: white; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    max-width: 800px;
    gap: 20px; 
    padding: 40px; 
    text-align: left; 
    transition: transform 0.3s ease; 
}


.education-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); 
}


.uni-pic {
    width: 40%; 
    height: 40%;
    height: auto; 
    margin-bottom: 15px; 
    border-radius: 20%;
}


.education-content h1 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #ffffff;
}

.education-content h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.education-content p {
    font-size: 14px;
    color: #d1d1d1;
}


/* Experience */

.experience {
    
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 80px;
} 

.experience-card {
    background-color: #1f2937; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    overflow: hidden;
    width: 450px; 
    height: 500px; 
    transition: transform 0.3s; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    position: relative;
}

.experience-card:hover {
    transform: scale(1.02);
}

.company-pic {
    position: absolute;
    width: 20%;
    height: 18%;
    top: 35px; 
    right: 5px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px; 
    vertical-align: middle;
    box-shadow: 0 4px 10px rgba(218, 210, 210, 0.5);
}

.experience-content {
    padding: 15px;
    color: #c1c1c1;
    text-align: left;
    flex-grow: 1;
    overflow-y: auto;
    height: 375px;
}

.education_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px; 
    width: 100%; 
    justify-items: center; 
}

.experience-tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
    margin-right: auto;
}
.tag {
    background-color: #334155;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 14px;
}




/* skills */
.skills {
    display:flex;
    text-align: center;
    flex-direction: column;
} 



.skills_container {
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px; 
}

.skill-item {
    background-color: #05152b;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
}

.skill-item i { 
    font-size: 30px; 
    margin-bottom: 10px;
    color: white;
}

.skill-item p {
    margin: 0;
    color: white;
    font-size: 18px;
}



/* projects */
.projects {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 30px; 
    padding: 25px;
    justify-items: center; 
    margin-bottom: 10px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 30px; 
    width: 100%; 
    justify-items: center; 
}
.project-card {
    background-color: #1f2937; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden; 
    width: 450px; 
    height: 500px; 
    transition: transform 0.3s; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.project-card:hover {
    transform: scale(1.02);
}

h2 {
    color: white;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.project-pic {
    width: 100%; 
    height: 80%; 
    object-fit: contain;
    object-position: center;
    margin: 0; 
    padding: 0;
}

.project-content {
    padding: 15px;
    color: #c1c1c1;
    text-align: left;
    flex-grow: 1;
    overflow-y: auto; 
    height: 375px;
}


.project-title {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 10px; 
    position: relative;

}

.project-title .icon {
    font-size: 20px;
    color: #c1c1c1;
    transition: color 0.2s;
    text-decoration: none; 
    margin-left: auto;
    flex-shrink: 0;

}

.project-title .icon:hover {
    color: #ffffff;
}

.project-description {
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
}

.project-tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.tag {
    background-color: #334155;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 14px;
}


/* contact */
.contact {
    display: flex;
    align-items: center; 
    margin-bottom: 10px;
    color: #ddd;
    flex-direction: column;
}



